.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 33rem;
    width: 40rem;
}

.game-info {
    display: flex;
    margin-left: 20px;
    height: auto;
    padding: 0.6rem;
    justify-content: center;
    align-items: flex-start;
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrapper {
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

ol, ul {
    padding-left: 30px;
}

.status {
    font-size: 2rem;
    color: white;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}
